li, a, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

header{
  color: gray;
  display: flex;
  padding: 30px 10%;
  padding-top: 10px;
}

#top{
  display: inline;
  justify-content: space-between;
  border-radius: 25px;
  align-items: center;
  width: 100%;
  display: flex;
  padding-inline-end: 40px;
  background-color: whitesmoke;
  box-shadow: 7px 7px lightblue;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  color: gray;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: lightblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgb(138, 251, 255);
}

.sig_in_up{
  justify-content: flex-end;
}

.sig_in_up a{
  padding-left: 20px;
}
