body{
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 15px;
    border-color: azure;
    size: 50px;
}

.titel{
    padding-top: 250;
    align-items: center;
}

.frame{
    margin-top: 5%;
    padding-inline: 5%;
}

.frame h1{
    padding-inline: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 58px;
    color: gray;
    text-decoration: none;
    text-align: center;
}

 