body{
    background-color: rgb(36, 36, 36);
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 15px;
    border-color: azure;
    size: 50px;
}

.titel{
    padding-top: 250;
    align-items: center;
}

.titel h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #edf0f1;
    text-decoration: none;
}