{% extends 'dashboard/base.html' %}

{% block content %}

    <div class="cards">
{% for notification in notifications %}

    <div class="card" style="background: radial-gradient(#ebc111, #fa99b2);">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">{{notification}}</h2>
      <p class="card__desc">
        <a class="card__link" href="#{{notification}}">Description<i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
        
{% endfor %}

</div>

{% endblock content %}